.loading-box {
  height: 100vh;
  background-image: linear-gradient(316deg, #4062bb 0%, #5200ae 74%);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
}

.loading-container {
  height: 15px;
  width: 105px;
  display: flex;
  position: relative;
  .loading-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    animation: loading-move 500ms linear 0ms infinite;
    margin-right: 30px;

    &:first-child {
      position: absolute;
      top: 0;
      left: 0;
      animation: loading-grow 500ms linear 0ms infinite;
    }

    &:last-child {
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 0;
      animation: loading-grow 500ms linear 0s infinite reverse;
    }
  }
}

@keyframes loading-grow {
  from {
    transform: scale(0, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes loading-move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(45px);
  }
}
