@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

.LandingSubCard:hover {
  transform: scale(1.1);
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}

.LandingSubCard {
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}

.LandingPgHeading {
  font-family: "Paytone One";
  font-weight: 700;
  font-size: 6rem;
  color: white;
  ow: 0px 0px 5px rgba(255text-shad, 255, 255, 0.1), 8px 8px 12px rgba(0, 0, 0, 0.1);
  caret-color: #262626;
  z-index: 5;
}

@media only screen and (max-width: 850px) {
  .LandingPgHeading {
    line-height: 6rem;
  }
}

@media only screen and (max-width: 600px) {
  .LandingPgHeading {
    font-size: 4rem;
    line-height: 4rem;
  }
}

.LandingPgHeading::selection {
  background-color: yellow;
  color: white;
}

.landingCardBtn {
  z-index: 5;
  width: 35%;
  font-weight: bolder;
  letter-spacing: 0.05rem;
}

@media only screen and (max-width: 600px) {
  .landingCardBody {
    margin-top: 3rem;
  }
}

/* Leaves */
.leaf {
  max-width: 10rem;
  position: absolute;
}

.leaf5 {
  z-index: 4;
  transform: rotate(-45deg) scale(1.3);
  left: -2rem;
}

@media only screen and (max-width: 850px) {
  .leaf5 {
    top: -1.5rem;
    left: -2rem;
  }
}

@media only screen and (max-width: 600px) {
  .leaf5 {
    top: -2.8rem;
    left: -0.5rem;
    transform: rotate(-45deg);
  }
}

.leaf4 {
  z-index: 5;
  transform: rotate(45deg) scale(0.5);
  right: 2.8rem;
  top: -0.5rem;
}

@media only screen and (max-width: 850px) {
  .leaf4 {
    transform: rotate(45deg) scale(0.4);
    left: 12.5rem;
    top: 4rem;
  }
}

@media only screen and (max-width: 600px) {
  .leaf4 {
    right: 5.5rem;
    top: 1.5rem;
  }
}

.leaf3 {
  z-index: 4;
  transform: rotate(45deg) scale(0.8);
  left: 13rem;
}

@media only screen and (max-width: 1280px) {
  .leaf3 {
    left: 28rem;
  }
}

@media only screen and (max-width: 850px) {
  .leaf3 {
    left: 17rem;
    bottom: -3.3rem;
  }
}

@media only screen and (max-width: 600px) {
  .leaf3 {
    left: 13.5rem;
    bottom: -3rem;
    transform: rotate(45deg) scale(0.7);
  }
}
