.Nav {
  background-color: transparent;
}

.NavBrand {
  gap: 0.5rem;
}

.NavLink {
  color: white;
  text-shadow: 0px 1px 3px rgba(100, 0, 255, 0.4);
  font-weight: 500;
  padding: 0 0.5rem;
}

.active {
  border: 3px solid #cce3fd;
}

.logoText {
  font-size: large;
}

.DropDownMenu {
  height: 9rem !important;
}

.NavbarMenu {
  background-color: #d7e1ec;
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
}

.NavbarMenuLink {
  color: #301050;
  font-weight: bold;
  transition: 0.3s;
}

.NavbarMenuLink:hover {
  color: #f31260;
  border-left: 5px solid #f31260;
  padding-left: 1rem;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}

.respActive {
  color: #f31260;
  border-left: 5px solid #f31260;
  padding-left: 1rem;
}
