.ParallaxBg {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #d7e1ec;
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
}

.ParallaxBg > * {
  position: absolute;
}

.LandingPgCard {
  z-index: 5;
  top: 23%;
  left: 10%;
  width: max-content;
}

@media only screen and (max-width: 1280px) {
  .LandingPgCard {
    left: 50%;
    translate: -50% 0%;
  }
}

@media only screen and (max-width: 850px) {
  .LandingPgCard {
    left: 50%;
    translate: -50% 0%;
    width: min-content;
  }
}

img {
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.blueDoc {
  right: 0rem;
  max-width: 30rem;
}

.doc {
  z-index: 4;
  bottom: 0rem;
  transform: scale(1.3);
  translate: -4rem -3.5rem;
}

.c1 {
  z-index: 1;
  transform: scale(2);
  top: 0rem;
  translate: -2.5rem 0rem;
}

.c2 {
  z-index: 3;
  bottom: 0rem;
  transform: scale(1.7);
  translate: 0rem 3.5rem;
}

@media only screen and (max-width: 700px) {
  .c1,
  .c2 {
    display: none;
  }
}

.l2 {
  z-index: 3;
  max-width: 15rem;
  bottom: -5rem;
  transform: scaleX(-1) translateX(35%) rotate(-12deg);
}

@media only screen and (max-width: 1000px) {
  .l2 {
    max-width: 11rem;
    bottom: -4rem;
  }
}

.l3 {
  z-index: 3;
  max-width: 15rem;
  bottom: -5rem;
  transform: translate(5%) rotate(10deg);
}

@media only screen and (max-width: 1000px) {
  .l3 {
    max-width: 11rem;
    bottom: -4rem;
  }
}

.g2 {
  z-index: 4;
  max-width: 5rem;
  left: 3rem;
  bottom: 1rem;
  transform: scaleY(1.7) scaleX(-1.7) rotate(-10deg);
}

@media only screen and (max-width: 1000px) {
  .g2 {
    max-width: 3.5rem;
    left: 2.3rem;
  }
}

@media only screen and (max-width: 850px) {
  .l2,
  .l3,
  .g2 {
    display: none;
  }
}
