.UserAuthImg {
  width: 100%;
  height: 100%;
  background-color: #7828c8;
}

@media only screen and (max-width: 850px) {
  .UserAuthImg {
    display: none;
  }
  .UserAuth {
    padding: 2rem;
    background-color: #d7e1ec;
    background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
  }
}

.AuthImg {
  width: 100%;
  max-width: 45rem;
}
