
.S2Card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.s2CardHeading {
  font-family: "Paytone One";
  font-weight: 700;
  font-size: 4rem;
  color: black;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1), 8px 8px 12px rgba(0, 0, 0, 0.1);
  caret-color: #262626;
  line-height: 4rem;
}

.S2CardBody{
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.slider{
  color: #71717A;
}